<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="https://phenomenon-innovation-lab.herokuapp.com/">
    <img src="https://res.cloudinary.com/dlj1mjxjd/image/upload/v1615847946/Phenomenon_logo_blanco_tknrzr.png" />
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" id="navbarText" href="https://phenomenon-innovation-lab.herokuapp.com/services">Servicios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="navbarText" href="https://phenomenon-innovation-lab.herokuapp.com/team">Equipo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="navbarText" href="https://phenomenon-innovation-lab.herokuapp.com/forms/new">Contáctanos</a>
      </li>
    </ul>
  </div>
</div>


<div class="banner-team" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dlj1mjxjd/image/upload/v1615934909/Artboard_2_xzpyau.png);">
  <div class="container-team">
    <h3 id="team-title">Fuimos creados para crear</h3>
    <h1>Nuestros Socios</h1>
    <div class="whiteLine">
    </div>
  </div>
</div>


<div class="team-member">
  <div class="team-name">
    <div>
      <h1>Susana Garcés</h1>
    </div>
    <div>
      <h1>></h1>
    </div>
    <div>
      <p>Psicologa & Diseñadora</p>
    </div>
  </div>

   <div class="member-details">

      <div class="member-photo">
        <img src="https://res.cloudinary.com/dlj1mjxjd/image/upload/v1619616017/SGCB_N_kkejmk.jpg" />
      </div>
      <div>
        <p>Susana es egresada de la Universidad de los Andes y hace parte de la clase de 2021 del Master en Experiencia del Consumidor e Innovacion de la universidad IE en España. Ha trabajado con McCANN Erickson como ejecutiva de cuenta junior de una marca colombiana de retail. Susana es apasionada por el comportamiento humano y fascinada con encontrar soluciones creativas y relevantes a las circunstancias reales del mundo. Quiere encontrar el significado detrás de las marcas que llegan a Phenomenon para desde ahí ayudarlas a dejar una huella en el mundo. </p>
      </div>
    </div>
</div>


<div class="team-member">
  <div class="team-name">
    <div>
      <h1>Simón Martinez</h1>
    </div>
    <div>
      <h1>></h1>
    </div>
    <div>
      <p>Administrador & Desarrollador Web</p>
    </div>
  </div>

   <div class="member-details">

      <div class="member-photo">
        <img src="https://res.cloudinary.com/dlj1mjxjd/image/upload/e_grayscale/v1619372168/LinkedIn_nbnosw.jpg" />
      </div>
      <div>
        <p>Simón es líder de Special Projects en Rappi. Su profesión es Administrador de Empresas del CESA y Full Stack Web Developer, estuvo en Madrid haciendo el Le Wagon Coding Bootcamp. Tiene experiencia desarrollando productos web, e-commerce y mínimos productos viables para probar ideas. Es apasionado por los productos digitales que generan impacto en la vida de las personas.
Ahora busca ayudar a nuestros clientes a desarrollar sus negocios en entornos digitales e impulsar el éxito de los emprendedores colombianos.  </p>
      </div>
    </div>
</div>

<div class="team-member">
  <div class="team-name">
    <div>
      <h1>Nicolás Gutierrez</h1>
    </div>
    <div>
      <h1>></h1>
    </div>
    <div>
      <p>Diseñador Grafico & Publicista</p>
    </div>
  </div>

   <div class="member-details">

      <div class="member-photo">
        <img src="https://res.cloudinary.com/dlj1mjxjd/image/upload/c_scale,w_2840/v1619370962/_GTR3031_copy_kgsh6x.jpg" />
      </div>
      <div>
        <p>Diseñador gráfico y Publicista de la universidad de Bogotá Jorge Tadeo Lozano. Ha sido jefe de diseño de revista Arcadia, revista Semana Sostenible y Semana Educación, también fue parte del equipo de diseño de Revista Semana. Ha estado vinculado a las agencias Estudio Codesign, Keep Agency y a la agencia de branding española Pastrana. Actualmente es diseñador pedagógico de la UBPD (Unidad de Búsqueda de Personas Desaparecidas) y director de diseño de Tell. Nicolás cuenta con más de 5 años de experiencia en los campos del diseño editorial, el diseño de marca y la ilustración. Recientemente fue integrado dentro del Portafolio de Collagistas Colombianos para su edición del 2020.</p>
      </div>
    </div>
</div>

<div class="master-banner">
      <div class="banner-footer" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dlj1mjxjd/image/upload/v1615934909/Artboard_2_xzpyau.png);">
      <div class="container-footer">
        <h1 id="footer-title">¡Trabajemos juntos!</h1>
        <h3>Contáctanos y dejanos saber lo que estas buscando y nuestro experto en el tema se pondrá en contacto contigo.</h3>
        <div class= "button-banner">
          <a class="btn btn-footer" href="https://wa.me/message/ESS3U564JJOGP1">Contáctanos</a>
        </div>
        <div class="whiteLine">
        </div>
        <div class="footer">
          <div>
            <h1>Phenomenon</h1>
            <p>La incubadora de diseño</p>
            <p>Derechos reservados ℗</p>
          </div>
          <div class="footer-links-cont">
            <p>Contáctanos</p>
            <div class="footer-links">
              <a href="https://www.instagram.com/phenomenon.innovation.lab/?hl=es-la"><i class="fab fa-instagram"></i></a>
              <a href="https://www.facebook.com/Phenomenon-Innovation-Lab-103465388445735"><i class="fab fa-facebook"></i></a>
              <a href="https://wa.me/message/ESS3U564JJOGP1"><i class="fab fa-whatsapp"></i></a>
            </div>
          </div>
        </div>
      </div>
</div>

</div>
