<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
    <img src="https://res.cloudinary.com/dlj1mjxjd/image/upload/v1615847946/Phenomenon_logo_blanco_tknrzr.png" />
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" id="navbarText" href="https://phenomenon-innovation-lab.herokuapp.com/services">Servicios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="navbarText" href="https://phenomenon-innovation-lab.herokuapp.com/team">Equipo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="navbarText" href="https://phenomenon-innovation-lab.herokuapp.com/forms/new">Contáctanos</a>
      </li>
    </ul>
  </div>
</div>






<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dlj1mjxjd/image/upload/v1615843637/OwaoOwao_Mesa_de_trabajo_1_copia_2_o5tnk0.png);">
  <div class="container">
    <h1 id="banner-title">Fuimos creados para crear</h1>
    <div class= "button-banner">
          <a class="btn btn-footer" href="#">Contáctanos</a>
        </div>
  </div>
</div>


<div class="redTexts">
  <div>
    <p>Todo empieza con <br> una historia</p>
  </div>
  <div>
    <p>Somos nativos <br> digitales</p>
  </div>
  <div>
    <p>Damos vida a <br> un Pehomeno</p>
  </div>

</div>

<div class="valueProp">
 <h3>Phenomenon es una compañía incubadora de innovación cuyo propósito es apoyar a los emprendedores colombianos a crear marcas  que generen impacto en entornos digitales. Creemos en el potencial de los proyectos de nuestros clientes y hemos llegado para ser partícipes del crecimiento de sus sueños.</h3>
</div>

<div class="redTexts">
  <div>
    <p>Aliados de <br>emprendedores</p>
  </div>
  <div>
    <p>Buenos, bonitos <br>y baratos</p>
  </div>
  <div>
    <p>Somos fans de <br>la iteración</p>
  </div>

</div>


<div class="blueLine">

</div>

<div class="ourServices">
  <h4>Nuestros Servicios</h4>
  <h3>Somos el paquete completo</h3>
</div>

<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dlj1mjxjd/image/upload/v1615859116/cj-dayrit-xX2aYSBsyKo-unsplash_aaxefk.jpg);">
  <div class="card-container">
    <div class= "button-card">
      <a class="btn btn-flat" href="#">Diseño</a>

    </div>
    <div class="button-card-two">
      <a class="btn btn-flat" href="#">web</a>
    </div>
  </div>
</div>

<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dlj1mjxjd/image/upload/v1615859562/tyler-lastovich-8_LZ9UWTKLE-unsplash_jesd4m.jpg);">
  <div class="card-container">
    <div class= "button-card">
      <a class="btn btn-flat" href="#">Mercadeo</a>

    </div>
    <div class="button-card-two">
      <a class="btn btn-flat" href="#">Digital</a>
    </div>
  </div>
</div>

<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dlj1mjxjd/image/upload/v1615859691/rafael-leao-hpOrvWRNJLo-unsplash_gfewyw.jpg);">
  <div class="card-container">
    <div class= "button-card">
      <a class="btn btn-flat" href="#">Desarrollo de</a>

    </div>
    <div class="button-card-two">
      <a class="btn btn-flat" href="#">marca</a>
    </div>
  </div>
</div>


<div class="master-banner">
      <div class="banner-footer" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dlj1mjxjd/image/upload/v1615934909/Artboard_2_xzpyau.png);">
      <div class="container-footer">
        <h1 id="footer-title">¡Trabajemos juntos!</h1>
        <h3>Contactanos y dejanos saber lo que estas buscando y nuestro experto en el tema se pondrá en contacto contigo.</h3>
        <div class= "button-banner">
          <a class="btn btn-footer" href="#">Contáctanos</a>
        </div>
        <div class="whiteLine">
        </div>
        <div class="footer">
          <div>
            <h1>Phenomenon</h1>
            <p>La incubadora de diseño</p>
            <p>Derechos reservados ℗</p>
          </div>
          <div class="footer-links-cont">
            <p>Contáctanos</p>
            <div class="footer-links">
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="#"><i class="fab fa-whatsapp"></i></a>
            </div>
          </div>
        </div>
      </div>
</div>

</div>




