<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="https://phenomenon-innovation-lab.herokuapp.com/">
    <img src="https://res.cloudinary.com/dlj1mjxjd/image/upload/v1615847946/Phenomenon_logo_blanco_tknrzr.png" />
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" id="navbarText" href="https://phenomenon-innovation-lab.herokuapp.com/services">Servicios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="navbarText" href="https://phenomenon-innovation-lab.herokuapp.com/team">Portafolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="navbarText" href="https://phenomenon-innovation-lab.herokuapp.com/forms/new">Acerca de</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  id="navbarTextImp" href="https://wa.me/message/ESS3U564JJOGP1">Trabajemos juntos</a>
      </li>
    </ul>
  </div>
</div>






<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dlj1mjxjd/image/upload/v1621989808/bg_hero_l64gli.jpg);">
  <div class="container">
    <div class= "value-prop">
      <div>
         <p>x Enrutamos sueños</p>
      </div>
      <div>
         <p>x Creemos en tus proyectos</p>
      </div>
    </div>
    <h1 id="banner-title">Fuimos creados para crear</h1>
  </div>
</div>


<div class="redTexts">
  <div>
    <p>Todo empieza con <br> una historia</p>
  </div>
  <div>
    <p>Somos nativos <br> digitales</p>
  </div>
  <div>
    <p>Damos vida a <br> un Pehomeno</p>
  </div>

</div>

<div class="valueProp">
 <h3>Phenomenon es una compañía incubadora de innovación cuyo propósito es apoyar a los emprendedores colombianos a crear marcas  que generen impacto en entornos digitales. Creemos en el potencial de los proyectos de nuestros clientes y hemos llegado para ser partícipes del crecimiento de sus sueños.</h3>
</div>

<div class="redTexts">
  <div>
    <p>Aliados de <br>emprendedores</p>
  </div>
  <div>
    <p>Generamos impacto <br>local</p>
  </div>
  <div>
    <p>Innovación<br>constante</p>
  </div>

</div>


<div class="blueLine">

</div>

<div class="ourServices">
  <h4>Nuestros Servicios</h4>
  <h3>Somos el paquete completo</h3>
</div>

<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dlj1mjxjd/image/upload/v1615859116/cj-dayrit-xX2aYSBsyKo-unsplash_aaxefk.jpg);">
  <div class="card-container">
    <div class= "button-card">
      <a class="btn btn-flat" href="#">Diseño</a>

    </div>
    <div class="button-card-two">
      <a class="btn btn-flat" href="#">web</a>
    </div>
  </div>
</div>

<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dlj1mjxjd/image/upload/v1615859562/tyler-lastovich-8_LZ9UWTKLE-unsplash_jesd4m.jpg);">
  <div class="card-container">
    <div class= "button-card">
      <a class="btn btn-flat" href="#">Mercadeo</a>

    </div>
    <div class="button-card-two">
      <a class="btn btn-flat" href="#">Digital</a>
    </div>
  </div>
</div>

<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dlj1mjxjd/image/upload/v1615859691/rafael-leao-hpOrvWRNJLo-unsplash_gfewyw.jpg);">
  <div class="card-container">
    <div class= "button-card">
      <a class="btn btn-flat" href="#">Desarrollo de</a>

    </div>
    <div class="button-card-two">
      <a class="btn btn-flat" href="#">marca</a>
    </div>
  </div>
</div>



<div class="footer-master-banner">
      <div class="banner-footer" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dlj1mjxjd/image/upload/v1622392442/bg_footer_wcltee.jpg);">
        <div class="container-footer">
          <div class="top-line-footer">
            <div class="logo-phenomenon">
              <img src="https://res.cloudinary.com/dlj1mjxjd/image/upload/v1615847946/Phenomenon_logo_blanco_tknrzr.png" />
              <p>La incubadora de diseño de tus sueños</p>
            </div>
            <div>
            </div>
            <div class="contact-footer">
              <h4>Contactanos</h4>
              <p>co.phenomenon@gmail.com</p>
              <p>+57 3133910480</p>
            </div>
            <div>
               <li class="nav-item">
                  <a class="nav-link"  id="navbarTextImp" href="https://wa.me/message/ESS3U564JJOGP1">Trabajemos juntos</a>
                </li>
            </div>
          </div>
          <div class="white-line-master">
            <div class="whiteLineFooter">
            </div>
          </div>
          <div class="boton-line-footer">
            <div>
              <p>© 2021 Phenomenon</p>
            </div>
            <div class="footer-links">
                <a href="https://www.instagram.com/phenomenon.innovation.lab/?hl=es-la"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/Phenomenon-Innovation-Lab-103465388445735"><i class="fab fa-facebook-square"></i></a>
                <a href="https://wa.me/message/ESS3U564JJOGP1"><i class="fab fa-whatsapp"></i></a>
              </div>
          </div>
        </div>
      </div>

</div>




