<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" id="navbarText" href="#">Servicios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="navbarText" href="#">Equipo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="navbarText" href="#">Contáctanos</a>
      </li>
    </ul>
  </div>
</div>


<div class="banner-team" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dlj1mjxjd/image/upload/v1615934909/Artboard_2_xzpyau.png);">
  <div class="container-team">
    <h3 id="team-title">Fuimos creados para crear</h3>
    <h1>Contáctanos</h1>
    <div class="whiteLine">
    </div>
  </div>
</div>

<div class="contact-picture" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dlj1mjxjd/image/upload/v1618800161/random-institute-QmxXYlyYgL8-unsplash_kh0bb6.jpg);">
  <div class="container">
    <div class= "button-banner">
    </div>
  </div>
</div>






<div class = "form">
  <h1>Headquarters</h1>
  <h2>Bogotá, Colombia</h2>
  <%= render 'form', form: @form %>

  <%= link_to 'Back', root_path %>

</div>


<div class="master-banner">
      <div class="banner-footer" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dlj1mjxjd/image/upload/v1615934909/Artboard_2_xzpyau.png);">
      <div class="container-footer">
        <h1 id="footer-title">¡Trabajemos juntos!</h1>
        <h3>Contactanos y dejanos saber lo que estas buscando y nuestro experto en el tema se pondrá en contacto contigo.</h3>
        <div class= "button-banner">
          <a class="btn btn-footer" href="#">Contáctanos</a>
        </div>
        <div class="whiteLine">
        </div>
        <div class="footer">
          <div>
            <h1>Phenomenon</h1>
            <p>La incubadora de diseño</p>
            <p>Derechos reservados ℗</p>
          </div>
          <div class="footer-links-cont">
            <p>Contáctanos</p>
            <div class="footer-links">
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="#"><i class="fab fa-whatsapp"></i></a>
            </div>
          </div>
        </div>
      </div>
</div>
