.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100%;
}

.banner h1 {
  font-size: 10px;
  margin: 0;
  color: white;
  font-family: 'IBM Plex Sans', sans-serif;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold;
}

#banner-title{
  font-size: 10px;
}

.value-prop {
  display: flex;
}

.value-prop p {
  font-size: 14px;
  color: rgba(255, 0, 0, 1);
  font-family: 'IBM Plex Mono', monospace;
}

.container{
  text-align: left;
  padding-top: 15%;
  h1{
    font-size:80px;
  }
}

.button-banner{
  padding-top: 175px;
  font-family: 'Work sans', sans-serif;
}


@media (min-width: 570px) {
 #banner-title{
  font-size: 120px;
}

.value-prop p {
  font-size: 14px;
  color: rgba(255, 0, 0, 1);
  font-family: 'IBM Plex Mono', monospace;
  padding-right: 20px;
}
}


