.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100%;
}

.banner h1 {
  font-size: 10px;
  margin: 0;
  color: white;
  font-family: 'Quattrocento', serif;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold;
}

#banner-title{
  font-size: 70px;
}

.banner p {
  font-size: 30px;
  color: white;
  font-family: 'Quicksand', sans-serif;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.container{
  text-align: center;
  padding-top: 200px;
  h1{
    font-size:80px;
  }
}

.button-banner{
  padding-top: 175px;
}


@media (min-width: 570px) {
 #banner-title{
  font-size: 70px;
}

.banner p {
  font-size: 40px;
  color: white;
  font-family: 'Quicksand', sans-serif;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

}

.btn-ghost {
  color: white;
  border: 3px solid white;
  padding: 16px 40px;
  border-radius: 50px;
  font-weight: normal;
  font-size:25px;
  opacity: 0.6;
  transition: opacity 0.3s ease;

}

.btn-ghost:hover {
  opacity: 1;
  color: red;
}

