.contact-picture{
  background-size: cover;
  background-position: center;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 150px;

}


.form {
  margin-right: 250px;
  margin-left: 250px;
  margin-top: 100px;
  font-family: 'Work sans', sans-serif;
}
