.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}


.footer-links a{
  color: white;
  font-size:35px;
  padding-left: 10px;
  font-weight: lighter;
}

.footer-links a:hover{
  color: rgb(150,150,150);
  font-size:35px;
  padding-left: 10px;
}


.footer-links-cont p{
  font-size: 2.5rem;
}


