.redTexts {
  display: flex;
  justify-content: space-around;
  color: red;
  padding-top: 55px;
  padding-bottom: 45px;
  font-size: 25px;
  font-weight: lighter;
}

.redTexts p{
  text-align: center;
}


.valueProp {
  padding-top: 50px;
  padding-right: 80px;
  padding-left: 80px;
  color: #0000ff;
  text-align: center;
}

.valueProp h3{
  line-height: 1.6;
  font-size: 40px;
  font-weight: normal;
}

.blueLine {
  background-color: #0000ff;
  height: 3px;
  margin-right: 50px;
  margin-left: 50px;
}

.ourServices h4{
  color: red;
  margin-top: 80px;
  padding-left: 30px;
  font-weight: lighter;
  font-size: 30px;
}

.ourServices h3{
  color: #0000ff;
  margin-top: 20px;
  padding-left: 30px;
  font-weight: normal;
  font-size: 60px;
}
