.redTexts {
  display: flex;
  justify-content: space-around;
  color: red;
  padding-top: 55px;
  padding-bottom: 45px;
  font-size: 25px;
  font-weight: lighter;
  font-family: 'Work sans', sans-serif;
}

.redTexts p{
  text-align: center;
}


.valueProp {
  padding-top: 50px;
  padding-right: 80px;
  padding-left: 80px;
  color: #0000ff;
  text-align: center;
  font-family: 'Work sans', sans-serif;
}

.valueProp h3{
  line-height: 1.6;
  font-size: 40px;
  font-weight: normal;
}

.blueLine {
  background-color: #0000ff;
  height: 3px;
  margin-right: 50px;
  margin-left: 50px;
}

.ourServices h4{
  color: red;
  margin-top: 80px;
  padding-left: 30px;
  font-weight: lighter;
  font-size: 30px;
  font-family: 'Work sans', sans-serif;
}

.ourServices h3{
  color: #0000ff;
  margin-top: 20px;
  padding-left: 30px;
  font-weight: normal;
  font-size: 60px;
  font-family: 'Work sans', sans-serif;
}

.master-banner {
  height: 1000px;
}

.banner-footer {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100%;
  margin-top: 100px;
}

.container-footer {
  text-align: center;
  color: white;
  padding: 150px 100px;
  height: 100%;
}


.btn-footer {
  color: white;
  border: 1.5px solid white;
  padding: 12px 40px;
  font-weight: normal;
  font-size:25px;
  opacity: 0.6;
  transition: opacity 0.3s ease;

}

.btn-footer:hover {
  opacity: 1;
  color: red;
}

.whiteLine {
  background-color: white;
  height: 3px;
  margin-right: 30px;
  margin-left: 30px;
  margin-top:100px;
}
