.navbar-lewagon {
  justify-content: space-between;
  background: #0000E1;
font-family: 'IBM Plex Sans', sans-serif;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
 height: 30px;
}


#navbarText {
  color: white;
  padding-right: 25px;
}


#navbarTextImp {
  color: white;
  border: 1.5px solid white;
  padding: 8px 15px;
  font-weight: normal;
  transition: opacity 0.3s ease;
}
