.navbar-lewagon {
  justify-content: space-between;
  background: #0214BF;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
 height: 30px;
}


#navbarText {
  color: white;
}
